.hero-main {
  padding: 0 1rem;
}
.hero-section {
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.hero-section .left {
  max-width: 700px;
}
.hero-section h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.hero-section h1 span {
  color: crimson;
}
.hero-section p {
  max-width: 500px;
  width: 100%;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  line-height: 1.6;
  opacity: 0.85;
}
.hero-section .left a {
  text-decoration: none;
  color: inherit;
}
.hero-section .left button {
  margin-top: 2rem;
  border: none;
  border-radius: 26px;
  padding: 0.8rem 1.6rem;
  outline: none;
  background: rgba(220, 20, 60, 0.85);
  color: white;
  font-size: 1.15rem;
  cursor: pointer;
  transition: 0.3s;
}
.hero-section .left button:hover {
  background: rgba(220, 20, 60, 1);
}
.hero-section .right {
  max-width: 600px;
}
.hero-section .right img {
  position: relative;
  margin-top: 2rem;
  max-width: 600px;
  width: 100%;
  height: auto;
  resize: both;
  border-radius: 24px;
  /* outline: 14px solid brown; */
}

/* Degree section */
.degree-section {
  margin-top: 5rem;
}
.mid-heading {
  font-size: 3rem;
  text-align: center;
}
.mid-heading span {
  color: crimson;
}
.degree-con {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  gap: 2.5rem;
}
.degree {
  /* max-width: 360px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 20px;
  background: white;
  padding: 1rem 1.5rem;
  /* box-shadow: 0px 2px 52px 2px rgba(0, 0, 0, 0.15); */
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: .3s;
}
.degree:hover{
    transform: scale(1.025);
    border: 1px solid rgba(0, 0, 0, 0.6);
}
.degree-head {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.degree-head h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #313131;
}
.degree-txt {
    color: var(--gray-color);
  font-size: .85rem;
  letter-spacing: 0.5px;
}
.degree button {
    width: fit-content;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgba(255, 127, 80, 0.9);
  color: white;
}
.degree button:hover {
  background-color: coral;
}


/* Media Queries */
@media (max-width:1360px) {
  .hero-section h1 {
    max-width: 500px;
    font-size: 3rem;
  }
  .mid-heading {
    font-size: 2.5rem;
  }
  .degree-head h1 {
    font-size: 2.25rem;
  }
}

@media (max-width:990px) {
  .hero-section{
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-section .left p{
    margin: auto;
  }
  .hero-section h1{
    max-width: 700px;
  }
  .hero-section .right img{
    max-width: 500px;
  }
  .degree-con {
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  .degree-con{
    grid-template-columns: auto;
  }
}
@media (max-width: 420px) {
  .hero-section h1 {
    font-size: 2.5rem;
    line-height: 1.1;
  }
  .mid-heading {
    font-size: 2.15rem;
  }
}