.header-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    z-index: 50;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header{
    /* right: 0%; */
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    padding: 0 1rem;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-decoration: none;
}
.logo img{
    width: 60px;
    height: auto;
    border-radius: 50%;
}
.logo span{
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: crimson;
}
header nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}
header nav a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    transition: .3s;
}
header nav a:hover{
    color: crimson;
}
@media (max-width:425px) {
    .logo{
        gap: 5px;
    }
    .logo img{
        width: 40px;
    }
    .logo span{
        font-size: 1.8rem;
    }
    header nav{
        gap: 1rem;
    }
}